.sel{
	width: 225px;
	height: 40px;
	background: #edf2f7;
	border: 2px solid #edf2f7;
	border-radius: 5px;
	font-size: 15px;
	color: #45484b;
	padding-left: 15px;
}
.sel:focus{
	background: white;
	outline: none;
}

@media only screen and (max-width: 1280px){
	.sel{
		width: 180px;
	}
}